/* styles.css */

body {
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 25px;
}

.pingButton {
	cursor: pointer;
	text-align: center;
	width: 200px;
	padding: 10px;
	margin: 10px;
	background-color: #00949a;
}

/* page 'about' */

.firstPar {
	border-radius: 100px;
	border: 1px solid #40a9ff;
	background-color: #00000000;
	font-size: 1.5rem;
	color: white;
	font-family: cursive;
	transition: background-color 2s, border 1s, color 1s ease-in;
}

.firstPar:hover {
	border: 1px solid #000;
	background-color: #00949a;
	color: #000;
}
